# .github/CODEOWNERS
*               @MorningStar264 @Anish-Tripathi @ambuj893 @aman-nitw
backend/        @MorningStar264 @Anish-Tripathi
frontend/       @MorningStar264 @ambuj893
db/             @MorningStar264 @aman-nitw
.github/        @MorningStar264
